#root {
  width: 100%;
  margin: 0 auto;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #B8860B;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8B4513;
}

/* Additional App styling */
